.App{
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  min-width: 60%;
  min-height: 400px;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 2rem;
  border-radius: 1rem;
}

.countdown-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  height: 300px;
  gap: 2rem;
}